label.lbm{
    width: 30%;
    color: #2b7fb1 !important;
}
fieldset{
    margin: 10px 0 10px 0 !important;
}

input.indados, select{
    width: 30%;
    text-transform: capitalize;
    margin: 0 0 0 10px !important;
    border: 1px solid #000;
    border-radius: 5px; 
    padding: 2px;
}
input.indados:focus{
    border: 2px solid  #2b7fb1;
}

input.btn{
    text-align: center;
    display: inline-block;
    margin: 0 auto;
}

div.enviar{
    text-align: center;
}