/*Gerais*/
*{
    margin: 0;
    padding: 0;
}
p,h1,h2,h3,h4{
    font-family: 'Bitter', serif;
}
h1{
    text-align: center;
}
main{
    width: 100%;
}
body{
    padding: 0;
    margin: 0;
}
div.container{
    position: relative;
    top: 80px;
    margin: 0 auto;
}
/*Menu*/
div.fixed{
    position: fixed;
    width: 100%;
    top: 0;
    display: inline-block;
    background-color: #fff;
    z-index: 1;
}
div.menu{
    border-bottom: 2px solid #007bff;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
}
div nav{
    text-align: center;
    float: left;
    margin: 0 auto;
}
div.menu nav ul{
    list-style: none;
    display: flex;
    margin: 0;
    flex-direction: row;
}
div.menu nav ul li{
   margin: 0 2px 0px 0;
}
div.menu nav ul li a{
    font-size: 14px;
    padding: 8px;
    margin-bottom: 0;
}
div.menu nav ul li a:hover{
    background-color: #007bff;
    text-decoration: none;
    border: 1px solid rgba(248, 246, 246, 0);
    border-radius: 5px;
    transition: 0.8s;
    font-size: 17px;
    color: rgb(14, 12, 12) !important;
}
/*Main*/
div.titulo{
    float: left;
    margin: 113px auto 0;
    width: 100%;
    color: #00ffe3 !important;
    display: flex;
    justify-content: center;
}
div.titulo h1{
    display: flex;

}
main{
    height: 675px;
}
main div.info{
    width:100%;
    height: 100%;
    background-position: center;
    background-image: url(../images/necarro.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

main div.info div.opct{
width: 100%;
height: 100%;
background: #000000ad;
position: relative;
}

main div.info div.opct p{
    width: 500px;
    color: white;
    display: flex;
    text-align: center;
    position: absolute;
    top: 40%;
    right: 0;
    left: 0;
    margin: 0 auto;
    justify-content: center;
    box-sizing: content-box;
}
div.redes{
    width: 100%;
    height: 80px;
    background: #29bee4;
}
div.redes ul{
    float: left;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    width: 100%;
    list-style: none;
}
div.redes ul li{
    margin: 0 13px;
    line-height: 3;
}

div.info_contato{
    display: none;
    height: 85px;
    width: 100%;
    margin: 0px auto 44px 0;
    background: rgba(235, 229, 229, 0.144);
}


/*Footer*/
footer{
    position: relative;
    top: 110px;
    float: left;
    width: 100%;
    text-align: center;
}
